body {
    font-family: 'Lexend Deca', sans-serif;
    color: #F5F7F8;
    background-color: #000814;
    scroll-behavior: smooth;
}

/* navigation-bar */
.nav-ul {
    position: fixed;
    width: 100%;
    text-align: center;
    list-style-type: none;
    background-color: black;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    height: 35px;
    z-index: 1;

}

.nav-ul>li {
    display: inline;
    margin-right: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;


}

nav a {
    text-decoration: none;
    color: #F5F7F8;
    cursor: pointer;
}

nav a:hover {
    color: #FF6000;
}

body,
.name {
    margin: 0;
    padding: 0;
}

.first-look {
    position: absolute;
    top: 30%;
    max-width: 900px;
    padding-left: 300px;
    padding-right: 300px;

}

/* background-image&text */

.background-image {
    height: 60rem;
    background-image: url(./image/background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;

}

.name {
    font-size: 5rem;
}

.highlight {
    color: #F5F7F8;
}

.horizontal-line {
    opacity: 0.2;
}

.brief-explain {
    color:  #200E3A;
}

