body {
    font-family: 'Lexend Deca', sans-serif;
    color: #f5f7f8;
    background-color: #000814;
    scroll-behavior: smooth;
}

/* navigation-bar */
.nav-ul {
    position: fixed;
    width: 100%;
    text-align: center;
    list-style-type: none;
    background-color: black;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    height: 35px;
    z-index: 1;
}

.nav-ul>li {
    display: inline;
    margin-right: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}

nav a {
    text-decoration: none;
    color: #f5f7f8;
    cursor: pointer;
}

nav a:hover {
    color: #ff6000;
}

body,
.name {
    margin: 0;
    padding: 0;
}

.first-look {
    position: absolute;
    top: 30%;
    max-width: 900px;
    padding-left: 300px;
    padding-right: 300px;
}

/* background-image&text */

.background-image {
    height: 45rem;
    background-image: url(./image/background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.name {
    font-size: 5rem;
}

.highlight {
    color: #f5f7f8;
}

.horizontal-line {
    opacity: 0.2;
}

.brief-explain {
    color: #200e3a;
}

/* about section */

.about-color,
.contact-details {
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

.round-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
    
}

.about-section{
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}


.image {
    margin-left: 18%;
}

.about-paragraph {
    margin-top: 0;
    text-align: justify;
    margin-left: 5%;
    padding-right: 100px;
}

.contact {
    margin-left: 37%;
    text-align: left;
}

.contact-container {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
}
