body {
    font-family: 'Roboto', sans-serif;
    color: #F3F8FF;
    background-color: #000814;
    scroll-behavior: smooth;
}

/* navigation-bar */
.nav-ul {
    position: fixed;
    width: 100%;
    text-align: center;
    list-style-type: none;
    background-color: black;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    height: 35px;
    z-index: 1;
}

.nav-ul>li {
    display: inline;
    margin-right: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}

nav a {
    text-decoration: none;
    color: #f5f7f8;
    cursor: pointer;
}

nav a:hover {
    color: #ff6000;
}

body,
.name {
    margin: 0;
    padding: 0;
}

.first-look {
    position: absolute;
    top: 30%;
    max-width: 900px;
    padding-left: 300px;
    padding-right: 300px;
}

/* background-image&text */

.background-image {
    height: 45rem;
    background-image: url(./image/background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.name {
    font-size: 5rem;
}

.highlight {
    color: #f5f7f8;
}

.horizontal-line {
    opacity: 0.2;
}

.brief-explain {
    color: #200e3a;
}

/* about section */

.about-color,
.contact-details {
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

.round-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

}

.about-section {
    text-align: center;
}

.container {
    display: flex;
    height: 300px;
    margin: 0;
    padding: 0;
}


.image {
    margin-left: 18%;
}

.about-paragraph {
    margin-top: 0;
    text-align: justify;
    margin-left: 2rem;
    padding-right: 10em;
}

.contact {
    text-align: left;
}

.contact-container {
    display: flex;
    height: 150px;
}

.contact-details {
    flex: 1;
    margin-left: 490px;
}

.cv-download {
    flex: 1;
    text-align: left;
    margin-right: 100px;
}

.download-link {
    background-color: #232D3F;
    color: #f5f7f8;
    padding: 15px;
    padding-left: 30px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;

}

.download-icon {
    margin-left: -20px;
    margin-bottom: -4px;
    margin-right: 10px;
    width: 25px;
}

.download-link:hover {
    color: black;
    background-color: #f5f7f8;
}

/* Resume Section */

#resume {
    background-color: #f5f7f8;
    color: #000814;
}

.resume-container {
    display: flex;
    flex-wrap: wrap;
}

.resume-heading-div {
    width: 20%;
    margin-left: 20%;
}

.resume-info {
    width: 60%;
}

.resume-heading {
    border-bottom: 1px solid orangered;
    margin-right: 150px;
    margin-top: 2rem;
}

.info-heading,
.top-margin {
    margin-top: 2rem;
}

.year {
    margin-left: 5rem;
}

.font-change {
    color: #61677A;
    font-style: italic;
}

.info-justify {
    margin-right: 10rem;
    text-align: justify;
}

.skill {
    margin-bottom: 5%;
}

.skill-name {
    margin-top: 20px;

}

.skill-bar {
    background-color: #61677A;
    height: 40px;
    border-radius: 6px;
    margin-top: 10px;
    width: 80%;
}

.skill-level {
    background-color: #200e3a;
    transition: width 1s ease-in-out;
    height: 100%;
    border-radius: 6px;
}

.html5 {
    width: 98%;
}

.css {
    width: 80%;
}

.wordpress {
    width: 90%;
}

.jquery {
    width: 70%;
}

.canva {
    width: 80%;
}

.squarespace {
    width: 60%;
}

.go-daddy {
    width: 85%;
}

.shopify {
    width: 90%;
}

.photoshop {
    width: 98%;
}

/* project section */

#works {
    background-color: #2E3840;
}

.project-heading {
    text-align: center;
    margin-top: 0;
    padding-top: 30px;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: auto auto 0;
    padding-bottom: 5%;

}

.single-card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    background: #414852;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}

.single-card:hover {
    transform: translateY(-10px);
}

.img-area {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-area:hover img {
    transform: scale(1.1);
    filter: brightness(80%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 174, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.single-card:hover .overlay {
    opacity: 1;
}

.info {
    padding: 10px;
    text-align: center;
    color: #ddd;
}

.info h3 {
    margin: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contact section */

#contact {
    margin: auto;
    width: 70%;
}

.contact-field {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.contact-field>p {
    text-align: center;
}

.image-paragraph>p {
    background-color: #232D3F;
    margin: auto 43%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;

}

.image-paragraph>p:hover {
    background-color: #FF5B22;
    opacity: 0.9;
}

.image-paragraph>p>a {
    text-decoration: none;
    color: #f5f7f8;
}

/* Footer section */

footer {
    background-color: #2E3840;
    height: 5rem;
    text-align: center;
}

.icons>a {
    margin: 10px;
}

.icons {
    padding-top: 1.5rem;
}